<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.cse110w260t13.ucsdcse110wi16.classplanner">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".nav_drawer.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".fragments.Courses.CoursePages.AddClassActivity"
            android:label="Add Class"
            android:parentActivityName=".nav_drawer.MainActivity" >
        </activity>
        <activity android:name=".fragments.Courses.CoursePages.GradeScale.EditScaleActivity"
            android:label="Add Class"
            android:parentActivityName=".nav_drawer.MainActivity" >
        </activity>

        <activity android:name=".fragments.Assignments.AddAssignment"
            android:label="Add Assignment"
            android:parentActivityName=".nav_drawer.MainActivity" >
        </activity>

        <provider
            android:name=".local_database.assignment_database.AssignmentContentProvider"
            android:authorities="io.github.cse110w260t13.ucsdcse110wi16.classplanner.local_database.assignment_database">
        </provider>
        <provider
            android:name=".local_database.course_database.CourseCalendarContentProvider"
            android:authorities="io.github.cse110w260t13.ucsdcse110wi16.classplanner.local_database.course_database.course">
        </provider>
        <provider
            android:name=".local_database.course_database.GradeScaleContentProvider"
            android:authorities="io.github.cse110w260t13.ucsdcse110wi16.classplanner.local_database.course_database.scale">
        </provider>
        <provider
            android:name=".local_database.calendar_database.CalendarContentProvider"
            android:authorities="io.github.cse110w260t13.ucsdcse110wi16.classplanner.local_database.calendar_database">
        </provider>

    </application>

</manifest>
